body{
 background:#edebf1
}

.panca {
    border: 1px solid #000;      
    padding: 10px;               
    min-height: 40px;            /* Altura mínima de la pantalla */
    text-align: right;           
    background-color: #e8e8ee;   
    
    
    font-family: monospace;      
    font-size: 24px;             
    border-radius: 8px;          
}
.conte{
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #c6c8d7;
  border: 1px solid #ccc;
  border-radius: 8px; 
  height: auto; 
  box-sizing: border-box;
}

h1{
  color:#0b2965;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

